.message-input {
  display: flex;
  padding: 15px;
  background-color: #2a2f32;
  border-top: 1px solid #333;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-right: 15px;
  background-color: #1e292d;
  color: #e1e1e1;
}

.message-input button {
  padding: 10px;
  border: none;
  background-color: #075e54;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
 